################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TransactionsReportGenerator/.vs
/TransactionsReportGenerator/bin/Debug/net7.0
/TransactionsReportGenerator/obj
/OverpassTurboHandler/.vs/OverpassTurboHandler
/TransactionGeneratorAPI/.vs
/TransactionGeneratorAPI/bin/Debug/net8.0
/TransactionGeneratorAPI/obj
/TransactionGeneratorAPI/Properties
/TransactionGeneratorAPI/appsettings.Development.json
/TransactionGeneratorAPI/appsettings.json
/OverpassTurboHandler/OverpassTurboHandler/bin/Debug/net8.0
/OverpassTurboHandler/OverpassTurboHandler/bin/Release/net8.0/linux-x64/publish
/OverpassTurboHandler/OverpassTurboHandler/bin/Release/net8.0/linux-x64
/OverpassTurboHandler/OverpassTurboHandler/obj/Debug/net8.0/ref
/OverpassTurboHandler/OverpassTurboHandler/obj/Debug/net8.0/refint
/OverpassTurboHandler/OverpassTurboHandler/obj/Release/net8.0/linux-x64/ref
/OverpassTurboHandler/OverpassTurboHandler/obj/Release/net8.0/linux-x64/refint
/TransactionGeneratorAPI/bin/Release/net8.0/linux-x64/publish
/TransactionGeneratorAPI/bin/Release/net8.0/linux-x64
/OverpassTurboHandler/OverpassTurboHandler/obj/Debug/net8.0
/OverpassTurboHandler/OverpassTurboHandler/obj/Release/net8.0/linux-x64
/OverpassTurboHandler/OverpassTurboHandler/obj
/TransactionGeneratorAPI/images
/TransactionGeneratorAPI/modified_Image.svg
/TransactionGeneratorAPI/outImage.svg
