################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TransactionsReportGenerator/.vs
/TransactionsReportGenerator/bin/Debug/net7.0
/TransactionsReportGenerator/obj
/OverpassTurboHandler/.vs/OverpassTurboHandler
